/*All*/

:root {
    --fs-800: ;
    --fs-1200: ;

}

/* {
border: solid violet 1px;
} */

@font-face {
    font-family: 'Switzer-Regular';
    src: url('../otffonts/Switzer-Regular.otf') format('opentype');
    font-weight: 300;
    font-display: normal;
    font-style: normal;
}

* {
    font-family: 'Switzer-Regular';
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    color: #2A2A2A;
}

a, a:visited, a:active, a:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
}

/*Header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    height: 100px;
    
}



.site-logo {
    display: flex;
    /* flex: 1; */
    align-items: center;
    justify-content: left;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

.site-logo img {
    max-width: 100%;
    min-width: 50%;
    height: auto;
}


/* @media (min-width: 768px) {
    .site-logo {
      flex-basis: 33.33%;
    }
    .main-navigation {
      flex-basis: 66.66%;
    }
  }
  
  @media (max-width: 767px) {
    .site-logo {
      flex-basis: 66.66%;
    }
    .main-navigation {
      flex-basis: 33.33%;
    }
  } */

.main-navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
}

.hello-user {
    display: block;
    padding-right: 10px;
    font-size: x-large;
    align-self: flex-end;
}

@media (max-width: 1200px) {
    .hello-user {
       
        white-space: nowrap;
       
    }
    
}

.hello-user span {
    font-weight: bold;
}


.main-navigation-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    max-width: 100%;
    gap: 10px;
    font-size: x-large;
}

.menu-content,
.menu-content a {
  margin: 0;
  padding: 0;
}

header {
    position: relative;
  margin: 0;
  padding: 0;
}

/* header * {
    border: solid 1px red;
}; */



.submenu-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hamburger-menu {
    display: none;

  }
  
  .hamburger-button {
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
  }
  
  .menu-content {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    width: 100%;
    padding: 20px;
  }
  
  .hamburger-menu-link:hover, .submenu-content:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  

  .hamburger-menu-link, .main-navigation-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 10px;
  }
  
  .hamburger-menu-link img, .main-navigation-link img {
    margin-right: 10px;
  }
 
  .hamburger-menu-link div {
    padding: 0px;
    margin: 0px;
  }

  .shop-button {
    border: none;
    background: none;
    font-size: inherit;
    text-align: left;
    padding: 0px;
}

  .submenu-content {
    padding-left: 20px;
    margin-top: 10px;
  }
  
  
  
  
  
  
/* Home */

.Section1 {
    display: flex;
    /* background-image: url('../img/a.png') !important; */
    /* background-size: cover;
    background-repeat: no-repeat; */
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* max-height: 700px; */
    
    /* other styles */
  }

  
.Section3 {
    
    display: flex;
    /* background-size: cover;
    background-repeat: no-repeat; */
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* max-height: 700px; */
}

/* .Section1 > img, .Section3 > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: left;
} */


.Section1 p, .Section3 p {
    color: #ffffff;
    font-size: clamp(2.5rem, 6vw, 5rem);
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

/* .Section1 *, .Section3 * {
    border: red solid 1px;
} */

.Section1 button, .Section3 button {
    display: block;
    padding: 10px 15px;
    margin: 20px 0px;
    background-color: #5dbea3;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    max-width: 100%;
    border: 2px solid #ffffff;
    font-size: x-large;
}

.Section1 button:hover, .Section3 button:hover {
    background-color: #4ca787;
}

.category-carousel p {
    /* border: solid 1px red; */
    color: #2A2A2A;
    font-size: clamp(1.5rem, 100vw, 2rem);
    /* font-size: clamp(2.5rem, 6vw, 5rem); */
    font-weight: bold;
    margin: 20px;
    margin-left: 20px;
    /* text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); */
}


.category-carousel {
    margin-bottom: 40px;
}


/* .carousel-header {
    margin-left: 20px;
    font-size: large;
    font-weight: bold;
} */

.carousel-item {
    position: relative;
   
}

.image-wrapper {
    position: relative;
}

.category {
    position: absolute;
    top: 50%;  /* Centers the text vertically on the image */
    left: 50%;  /* Centers the text horizontally on the image */
    transform: translate(-50%, -50%);  /* Adjusts the text to be truly centered */
    color: white;  /* Makes the text color white so it stands out on the image */
    font-weight: bold;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a dark background for better readability */
    padding: 5px 10px;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .category {
        font-size: 1.5rem;
    }
}

@media (max-width: 800px) {
    .category {
        font-size: 1rem;
    }
}
/*Shop*/




.shop-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    font-size: x-large;
}

@media (max-width: 800px) {
    .shop-nav {
        display: none;
        padding: 0px;
    }
}

.shop-title {
    margin: 20px;

}

.shop-nav-link:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 20px;
}

@media (min-width: 1200px) {
    .product-list {
      grid-template-columns: repeat(auto-fill, minmax(32.3%, 1fr)); /* For 3 columns */
    }
}
 

@media (min-width: 800px) {
.product-list {
    grid-template-columns: repeat(auto-fill, minmax(24%, 1fr)); /* For 4 columns */
}
}

.listed-product {
    cursor: pointer;
}

.product-list .listed-product {
    box-sizing: border-box; /* Make sure this is here */
}

.product-list .listed-product img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/*Product Page*/

.product-page .product {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    background-color: #ffffff;
  
}

.product-page .product .product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    max-width: 500px;

}
.product-page .product img {
    flex: 1;
    max-width: 50%;
    height: auto;
    align-self: flex-start;
    padding: 20px;
}

.product-page .product-buttons button {
    display: block;
    padding: 10px 15px;
    margin: 20px 0px;
    background-color: #5dbea3;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    max-width: 100%;
    border: 2px solid #ffffff;
    font-size: x-large;
}




@media (max-width: 1200px) {
    .product-page .product-buttons button {
        font-size: large;
    }
}

@media (max-width: 550px) {
    .product-page .product-buttons button {
        font-size: medium;
    }
}

@media (max-width: 400px) {
    .product-page .product-buttons button {
        font-size: small;
    }
}

.product-page .product-buttons .remove-from-favorites-button {
    background-color: #ffffff;
    color: #A74C4F;
    border: 2px solid #A74C4F;
}

.product-page .product-buttons .remove-from-favorites-button:hover {
    background-color: #ffffff;
    color: #884143;
    border: 2px solid #884143;
}

/* .product-page .product-buttons .add-to-favorites-button {
    background-color: #A74C4F;
    color: #ffffff;
} */

.product-page button:hover {
    background-color: #4ca787;
}


.product-page .product-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.product-page .product-name {

    font-size: xx-large;
    font-weight: bold;
}

.product-page .product-price {
    font-size: xx-large;
}

.product-page .product-details {
    font-size: large;
}

.product-page .product-quantity input {
   max-width: 40px; 
}

@media (max-width: 800px) {
    .product-page .product {
        flex-direction: column;
        align-items: center;
    }
    .product-page .product img {
        max-width: 90%;
        height: auto;
        object-fit: cover;
        align-self: center;
    }
    .product-page .product .product-details {
        align-self: center;
        align-items: flex-start;
        text-align: left;
        font-size: medium;
    }
    .product-page .product-buttons {
        flex-direction: row;
        align-items: flex-start;
        justify-content: left;
    }
}



.product-page .product-color {
    display: none;
}

.product-page .product-quantity {
    display: flex;
    gap: 10px;

}

.product-page .product-size {
    display: flex;
    gap: 10px;
}

/*Footer*/




footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
    background-color: #ffffff;
}

@media (max-width: 800px) {
    footer {
        display: flex;
        flex-direction: column;
    }
}

.footer-links {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

.footer-links h3 {
    
    text-decoration: none;
    margin-bottom: 20px;
}

.footer-links div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

.footer-links a {
    margin-bottom: 20px;
}

.footer-links a:hover {
    color: grey;
}

.social-media-links {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    margin: 20 px;
}

.social-media-links img {
    margin-right: 20px;
}

.social-media-links h3 {
    margin-bottom: 20px;
}

.newsletter {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

.newsletter input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 75%;
    max-width: 200px;
    margin-top: 10px;
    box-sizing: border-box;
}

.newsletter input[type="checkbox"] {
    margin-right: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.newsletter label {
    margin-left: 10px;
}

.newsletter h3 {
    margin-bottom: 20px;
}

.newsletter button {
    display: block;
    padding: 10px 15px;
    background-color: #5dbea3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    max-width: 100px;
}

.newsletter button:hover {
    background-color: #4ca787;
}

.newsletter input,
.newsletter button,
.newsletter div {
    margin-bottom: 20px;
}

.newsletter form > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.newsletter form > div > input[type="checkbox"] {
    margin: 0;
    padding: 0;
}

.newsletter a {
    border-bottom: 1px solid #000000;
    text-decoration: none;
}

.newsletter p {
    margin-top: 0px;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .main-navigation-link > p {
        display: none; /* Hide the text */
    }

  }

  @media (max-width: 800px) {
    .hamburger-menu {
      display: block; /* Show the menu */
      justify-self: center;;
      align-self: center;
      padding-top: 0px;
    }
  
    .main-navigation-links > a {
      display: none; /* Hide regular links */
    }
  }


  /* .main-navigation-links * {
    border: solid 1px red;

  } */

  .cart-icon-container {
    position: relative; /* Relative positioning for the container */
    display: inline-flex;
  }
  
  
  
  .total-cart-items {
    position: absolute; /* Absolute positioning for the text */
    top: 40%;             /* Align to the top of the container */
    left: 70%;          /* Center horizontally */
    transform: translate(-60%, 0); /* Correct for the width of the text itself */
    background-color: #5dbea3; /* Optional: to make the text stand out */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    padding: 0px;       /* Optional: some spacing */
    font-size: medium;
    font-weight: bold;
    color: #ffffff;
  }
  
  .favorites-icon-container {
    position: relative; /* Relative positioning for the container */
    display: inline-flex;
  }
  
  
  
  .total-favorite-items {
    position: absolute; /* Absolute positioning for the text */
    top: 40%;             /* Align to the top of the container */
    left: 70%;          /* Center horizontally */
    transform: translate(-60%, 0); /* Correct for the width of the text itself */
    background-color: #A74C4F;; /* Optional: to make the text stand out */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    padding: 0px;       /* Optional: some spacing */
    font-size: medium;
    font-weight: bold;
    color: #ffffff;
  }


  /* styles.css */

  .card img {
    justify-self: center;
    
  }

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: -115px;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    transition: top 0.5s ease-in-out;
    z-index: 10;
    box-shadow: 0 4px 8px #2A2A2A;
  }
  
  .card.show {
    top: 100px;
    z-index: 10;
  }
  
